body
{
    background: #323232;
    height: 100%;
}

.page-header {
    margin: 20px;
    border-radius: 5px;
    background: #FFF;
    color: #333;
    padding: 20px;
}

/*3x3 grid*/
.card {
  height: 100%;
}

#page
{
    margin: 20px;
    border-radius: 5px;
    background: #FFF;
    color: #333;
    padding: 20px;
    padding-top: 10px;
}
/* CSS */
.buy {
    animation: buy 1s ease-out;
  }

  @keyframes buy {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }

@keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .parpadeo {
    animation: parpadeo 1s infinite;
  }

  .message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #008000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*Responsive Queries*/
@media screen and (max-width: 900px) {
  /* Styles for screens smaller than 900px */
  .container {
    max-width: 100%;
  }
  .page-header {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #FFF;
    color: #333;
    padding: 20px;
  }
  #page {
    margin: 0;
    margin-bottom: 20px;
  }
}