body
{
    background: #323232;
    height: 100%;
}

.page-header {
    margin: 20px;
    border-radius: 5px;
    background: #FFF;
    color: #333;
    padding: 20px;
}

/*3x3 grid*/
.card {
  height: 100%;
}

#page
{
    margin: 20px;
    border-radius: 5px;
    background: #FFF;
    color: #333;
    padding: 20px;
    padding-top: 10px;
}
/* CSS */
.buy {
    animation: buy 1s ease-out;
  }

  @keyframes buy {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }

@keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .parpadeo {
    animation: parpadeo 1s infinite;
  }

  .message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #008000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*Responsive Queries*/
@media screen and (max-width: 900px) {
  /* Styles for screens smaller than 900px */
  .container {
    max-width: 100%;
  }
  .page-header {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #FFF;
    color: #333;
    padding: 20px;
  }
  #page {
    margin: 0;
    margin-bottom: 20px;
  }
}
.crypto-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.crypto-table th {
  font-size: 1.1rem;
  text-align: left;
  padding: 12px 20px;
  color: #444;
}

.crypto-table td {
  vertical-align: middle;
  border-top: 1px solid #f0f0f0;
}

.crypto-table td:first-child {
  padding-left: 0;
}

.crypto-table td:last-child {
  padding-right: 0;
}

.crypto-table img {
  display: block;
  margin: auto;
}

.crypto-table h4 {
  font-size: 1.2rem;
  margin-bottom: 4px;
  color: #444;
}

.crypto-table .description {
  font-size: 0.9rem;
  color: #999;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.delete-button:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
